body {

    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI';
} 

a {
    text-decoration: none;
}


.navigation {
    background-color: #78909c;
    display: flex;
    justify-content: space-between;
    height: 4em;
    .logo {
        margin: 1.2em;
        a {
            padding: 1em;
            font-size: 1.2em;
            .scheme;

            &:hover {
                background-color: white;
                color: black;
            }
        }
    }

    .links {
        a {
            .scheme;
            margin: .4em;
            padding: 1em;
            list-style-type: none;
            &:hover {
                background-color: white;
                color: black;
            }
        }
    }
}

.links {
    display: flex;
}

.ham {
    display: none;
    margin-right: 1em;
    a {
        font-size: 2.4em;
        .scheme;
        padding-left: .5em;
        padding-right: .5em;      
        
        &:hover {
            background-color: white;
            color: black;
        }
        
    }
}

// mixin
.scheme() {
    color: white;
    background-color: #37474f;
}

@media (max-width: 600px) {

    .links {
        display: none;
    }

    .ham {
        display: flex;
    }
}

