body {
    background-color: #263238;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.parent {
    display: flex;
    flex-direction: row;
    div {
        .box(8em, #eceff1);
        margin-right: 10px;
    }
}

.other {
    .box(100px,#cfd8dc);
}

.box(@val, @color) {
    height: @val;
    width: @val;
    background-color: @color;
}

