body {
  font-family: 'Segoe UI';
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
}
.navigation {
  background-color: #78909c;
  justify-content: space-between;
  display: flex;
  height: 4em;
}
.navigation .logo {
  margin: 1.2em;
}
.navigation .logo a {
  font-size: 1.2em;
  padding: 1em;
  background-color: #37474f;
  color: white;
}
.navigation .logo a:hover {
  background-color: white;
  color: black;
}
.navigation .links a {
  list-style-type: none;
  margin: .4em;
  padding: 1em;
  background-color: #37474f;
  color: white;
}
.navigation .links a:hover {
  background-color: white;
  color: black;
}
.links {
  display: flex;
}
.ham {
  margin-right: 1em;
  display: none;
}
.ham a {
  padding-right: .5em;
  padding-left: .5em;
  font-size: 2.4em;
  background-color: #37474f;
  color: white;
}
.ham a:hover {
  background-color: white;
  color: black;
}
.ham a:hover .links {
  display: block;
}
@media (max-width: 600px) {
  .links {
    display: none;
  }
  .ham {
    display: flex;
  }
}
